<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<!-- <listeners>
<listener class-name="com.obsqura.selenium.FinalProject.Listerners"/>
</listeners> -->
  <test name="Test">
 <parameter name="browser" value="chrome" />
    <classes>
      <class name="com.obsqura.selenium.FinalProject.ExpenseCategoryNewButtonTest">
      <methods>
      <include name="verifyClickSaveWithTitle"/>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
